@font-face {
    font-family: 'roboto';
    src: url('../fonts/RobotoCondensed-Light-webfont.eot');
    src: url('../fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('../fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body{
	background-color: #fff;
	font-family: 'roboto', Arial, sans-serif;
	position: relative;
	height: 100%;
}

body b,
body strong{
	font-family: 'roboto_condensedbold', Arial, sans-serif;
	font-weight: normal;
}

#filters{
	
	height: 100vh;
	background-color: #f8f8f8;
    border-right: solid 1px #e7e7e7;
}

#filters  .slider{
	width: 100%;
}

#filters  .slider-selection{
	background: #d7d7d7;
}

#filters  .slider-track-low,
#filters  .slider-track-high{
	background: #9d9d9d;
}

#graph{
	height: 100vh;
}

#label-loading{
	position: absolute;
	font-weight: normal;
	font-size: 16px;
	display: none;
	right: 0;
	top: 0;
	z-index: 10000;
	background-color: rgba(0, 147, 250, 0.7);
	background: rgba(0, 147, 250, 0.7);
	color: #000;
	padding: 5px 20px;
	width: 300px;
	border-bottom-left-radius: 3px; 
}

body.loading #label-loading{
	display: block;
}

#growl{
	position: absolute;
	font-weight: normal;
	font-size: 16px;
	display: none;
	right: 0;
	top: 0;
	z-index: 10000;
	background-color: rgba(250, 0, 100, 0.7);
	background: rgba(250, 0, 100, 0.7);
	color: #fff;
	padding: 5px 20px;
	min-width: 300px;
	border-bottom-left-radius: 3px; 
}

#legend{
	position: absolute;
	font-weight: normal;
	font-size: 16px;
	
	right: 0;
	bottom: 0;
	z-index: 10000;
	
    border-right: solid 1px #e7e7e7;
	background-color: rgba(231, 231, 231, 0.9);
	background: rgba(231, 231, 231, 0.9);
	display: none;
	color: #000;
	padding: 5px 20px;
	width: 150px;
	border-top-left-radius: 3px; 
	padding-top: 10px;
}

#legend ul li{
	margin-bottom: 5px;
	height: 25px;
}

.colorbox{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #000;
	margin-right: 15px;
}

.select2-container--bootstrap{
	font-weight: 300;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #eee;
    color: inherit;
}
